/* =================================== */
/* //////// CoreCP.io Website ////////
/* 
/*    File: Main Stylesheet
/*    Created by: NiceKype & Hypax
/* 
/* =================================== */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    background-color: #23272A;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-family: "Rajdhani", sans-serif;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #ff5600;
    text-decoration: none;
    cursor: pointer;
}
p {
    font-size: 2ex;
}
h1 {
    font-weight: bold;
    font-size: 5ex;
}
h2 {
    font-size: 2.75ex;
    font-weight: bold;
    color: #99AAB5;
}
h3 {
    font-size: 2.1ex;
    font-weight: bold;
    color: #ff5600;
}

/* =================================== */
/* ///// Content
/* =================================== */
.container {
    background-color: #2C2F33;
    max-width: 1600px;
    margin: 0 auto;
    border-radius: 25px;
    padding: 20px 40px;
}

.imprint p {
    line-height: 16px;
    padding-left: 10px;
}

/* =================================== */
/* ///// Header
/* =================================== */
.header {
    background: url("../img/background.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
.header-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 0;
}
.header img {
    width: 200px;
}
.sub-menu {
    right: 0;
    text-align: right;
    margin-top: -30px;
}
.sub-menu i {
    font-size: 30px;
}
.sub-menu:hover {
    color: #ff5600;
    text-decoration: none;
    cursor: pointer;
}
.sub-menu a {
    text-decoration: none;
    vertical-align: center;
    padding-bottom: 15px;
    padding: 0 10px;
}

/* =================================== */
/* ///// Main Navigation
/* =================================== */
.main-nav {
    background-color: #181818;
    background-size: 100% auto;
    padding: 4px 300px;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 146px;
    margin-bottom: 40px;
    top: 0;
    position: sticky;
    z-index: 100;
}
.main-nav ul {
    max-width: 1200px;
    list-style: none;
    flex-direction: row;
    display: flex;
}
.main-nav li {
    display: inline;
    list-style-type: none;
}
.main-nav a {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #99AAB5;
}
.main-nav a:hover {
    color: #fff;
}
.main-nav .nav-item {
    padding: 0 30px;
}
.main-nav .nav-item .dropdown:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

/* =================================== */
/* ///// Hinweise
/* =================================== */
.warning {
    padding: 20px 15px;
    margin: 15px 20px;
    border-left: 10px solid #bfa31d;
    background-color: #f2cb13;
    color: #000;
    font-weight: 900;
    border-radius: 5px;
}
.error {
    padding: 20px 15px;
    margin: 30px 100px;
    border-left: 10px solid #a31a16;
    background-color: #d91e18;
    color: #000;
    font-weight: 900;
    border-radius: 25px;
}

/* =================================== */
/* ///// Footer
/* =================================== */
footer {
    text-align: center;
    padding: 5px 0;
    background-color: rgb(54, 56, 59);
    color: rgb(146, 146, 146) !important;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 15px;
}

footer > a {
    color: rgb(146, 146, 146);
}

footer > a:hover {
    color: #ff5600;
}

/* =================================== */
/* ///// Slider
/* =================================== */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    background-color: rgba(19, 19, 19, 0.5);
    font-size: 15px;
    padding: 20px 12px;
    position: absolute;
    bottom: 6px;
    min-width: 99%;
    max-width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    background-color: rgba(19, 19, 19, 0.5);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

/* =================================== */
/* ///// Preloader
/* =================================== */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 80px;
    height: 80px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ff5600;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }