@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    background-color: #23272A;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-family: "Rajdhani", sans-serif;
}

#container {
    background-color: #2C2F33;
}

nav {
    font-weight: 600;
    text-transform: uppercase;
    color: #99AAB5;
    position: sticky;
}

nav:hover {
    color: #ff5600;
}

.warning {
    padding: 20px 15px;
    margin: 30px 0;
    border-left: 20px solid rgba(0,0,0,.5);
    background-color: #FFFF00;
    color: #000;
    font-weight: 900;
}