@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
    background-color: #23272A;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    font-family: "Rajdhani", sans-serif;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #ff5600;
    text-decoration: none;
}

.container {
    background-color: #2C2F33;
    max-width: 1600px;
    margin: 0 auto;
    border-radius: 50px;
    padding: 20px 40px;
}

.header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
}
.header img {
    width: 200px;
}
.sub-menu {
    right: 0;
    text-align: right;
    margin-top: -30px;
}
.sub-menu i {
    font-size: 30px;
}
.sub-menu a {
    text-decoration: none;
    vertical-align: center;
    padding-bottom: 15px;
}
nav {
    font-weight: 600;
    text-transform: uppercase;
    color: #99AAB5;
    position: sticky;
}

nav:hover {
    color: #ff5600;
}

/* Hinweise */
.warning {
    padding: 20px 15px;
    margin: 30px 100px;
    border-left: 10px solid #bfa31d;
    background-color: #f2cb13;
    color: #000;
    font-weight: 900;
}
.error {
    padding: 20px 15px;
    margin: 30px 100px;
    border-left: 10px solid #a31a16;
    background-color: #d91e18;
    color: #000;
    font-weight: 900;
}